extends layout

block content

  div.welcome
    div.introduction Welcome to ODL
      span THEK
    div.introductionText Login below to rent one of our #{devices} devices
    if(!locals.user)
      br
      div.t-center
        a(href="/users/auth/google").loginbutton Login with Google

  h4 Top Devices

  ul.gadget-list

    - each gadget in gadgets
      li.gadet-entry
        if(gadget.hasImage)
          img(src=gadget.imagePath)
        else
          img(src='/img/dummy_device.gif')

        .details
          div.brand= gadget.brand
          div.name= gadget.name
          hr
          div.os= gadget.os

  div.clearfix
