extends layout

block content
  
  #content
    #phones
      div.welcome
        div.introduction Welcome to ODL
          span THEK
        div.introductionText Login with your GitHub account to rent one of our #{devices} devices
        if(!locals.user)
          br
          div(style="text-align: center;")
            a(href="/users/auth/github",class="loginbutton") login
      h1 Top Devices
      ul.elements
        - each gadget in gadgets
          li.element
            if(gadget.image)
              img(src=gadget.image)
            else   
              img(src='/img/dummy_device.gif')
            div.click
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os
      div.clear
  