form(method='post',action="/bookings/"+booking._id+"/edit",id="book")
  h1= booking.gadgetname
  if(locals.error)
    div(style="background-color: #f00;")= error
  div
    h2 Start
    input(type='date',name='startdate',value=locals.sdate)
    input(type='time',name='starttime',value=locals.stime)
    h2 End
    input(type='date',name='enddate',value=locals.sdate)
    input(type='time',name='endtime',value=locals.etime)
  br
  div(onclick="bookNow(); return false;") update
  div
    div(style="text-align: right;",onclick="$('#book').hide();") schließen