extends ../layout

block content

  if(bookings && (bookings.open || bookings.handout || bookings.closed))
    .table-responsive
      table
        tr
          th Name
          th Device (ID)
          th Start Reservation
          th End Reservation
          th
          th
          th

        if(bookings && bookings.open)
         tr.spacer
            th(colspan=7)
          tr.section
            th(colspan=7)
              | Upcoming bookings

          - each booking in bookings.open
            tr
              td
                =booking.username
                br
                span.small
                  =booking.user.email
              td
                a(href="/gadgets/" + booking.gadget.id)
                  =booking.gadgetname
                  | &nbsp;
                  | (
                  =booking.gadget.hwid
                  |)
              td
                =fmtDatetime(booking.start)
              td
                =fmtDatetime(booking.end)
                if (booking.expired)
                  span.text-danger
                    strong (Expired)
              td.tools
                a(
                  href="/bookings/" + booking._id + "/edit",
                  data-toggle="modal",
                  data-target="#bookingModal"
                ).edit
              td.tools
                a(href="/bookings/"+booking._id+"/handout").handOut
              td.tools
                a(data-href="/bookings/" + booking._id + "/remove").cancel-booking.cancel


        if(bookings && bookings.handout)
          tr.spacer
            th(colspan=7)
          tr.section
            th(colspan=7)
              | Active bookings
          - each booking in bookings.handout
            tr
              td
                =booking.username
                br
                span.small
                  =booking.user.email
              td
                a(href="/gadgets/" + booking.gadget.id)
                  =booking.gadgetname
                  | &nbsp;
                  | (
                  =booking.gadget.hwid
                  |)
              td
                =fmtDatetime(booking.start)
              td
                =fmtDatetime(booking.end)
                if (booking.expired)
                  span.text-danger
                    strong (Expired)
              td.tools
                a(
                  href="/bookings/" + booking._id + "/edit",
                  data-toggle="modal",
                  data-target="#bookingModal"
                ).edit
              td.tools
                a(href="/bookings/"+booking._id+"/takeback").takeBack
              td.tools
                a(data-href="/bookings/" + booking._id + "/remove").cancel-booking.cancel


        if(bookings && bookings.closed)
          tr.spacer
            th(colspan=7)
          tr.section
            th(colspan=7)
              | Closed bookings
          - each booking in bookings.closed
            tr
              td
                =booking.username
                br
                span.small
                  =booking.user.email
              td
                a(href="/gadgets/" + booking.gadget.id)
                  =booking.gadgetname
                  | &nbsp;
                  | (
                  =booking.gadget.hwid
                  |)
              td=fmtDatetime(booking.start)
              td=fmtDatetime(booking.end)
              td.tools
              td.tools
              td.tools
                a(data-href="/bookings/" + booking._id + "/remove").cancel-booking.cancel

  else
    h4 No bookings...