form(method='post',action="/bookings/" + gadget._id + "/new",id="book")
  .getBook
    h1(onclick="$('#layerBookGadget').hide();$('#blank').hide();") Book
    span.bookBrand= gadget.brand
    span.bookName= gadget.name
    a(onclick="$('#book').hide();") X
  if(locals.error)
    .error= error
  .bookingTime
    .start
      h2 Start
      input(type='date', name='startdate', value=data.startdate)
      span.dateIcon
      br
      input(type='time', name='starttime', value=data.starttime)
      span.timeIcon
    .btw
    .end
      h2 End
      input(type='date', name='enddate', value=data.enddate)
      span.dateIcon
      input(type='time', name='endtime', value=data.endtime)
      span.timeIcon
    .clear
    div(onclick="bookNow(); return false;").book
      span Buchen
  br
