extends ../layout

block content

  div.modal(id="modal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal") &times;
          h3 Delete gadget?
        div.modal-body
          p Deleting a gadget will also delete all related bookings. Are you sure?
        div.modal-footer
          a.btn.btn-danger(href="/gadgets/" + gadget._id + "/remove") Delete gadget


  .details
    .row
      .col-md-8
        br
        a.btn(href="/gadgets/") back
        h2= gadget.brand
        h1= gadget.model

      .col-md-4
        if(gadget.hasImage)
          img(src=gadget.imagePath)
        else
          img(src='/img/dummy_device.gif' width="210")

    br
    .row
      .col-md-8
        != gadget.description.replace(/\n/g, '<br>')
        br
        br

      .col-md-4.tools-box
        a.btn(
          href="/bookings/" + gadget._id + "/new",
          data-toggle="modal",
          data-target="#bookingModal"
        ).book-btn.btn|Book

        if(user.role == 'admin')
          a.btn(href="/gadgets/"+gadget._id+"/edit") Edit
          a.btn.btn-danger(data-toggle="modal" data-target="#modal") Delete

        .info
          b version
          br
          span= gadget.os
          br
          br
          b gadget ID
          br
          span= gadget.hwid
          br
          br
          b type
          br
          span= gadget.type
          br
          br
          b location
          br
          span= gadget.location
          br

    br
    br
    if (user.role === 'admin')
      .table-responsive
        table
          tr
            th Name
            th Device (ID)
            th Start Reservation
            th End Reservation
            th Handout
            th Takeback
            th
            th
            th
          - each booking in bookings
            include ../bookings/list-entry.jade

    else
      .table-responsive
        table.table
          tr
            th User
            th Start Reservation
            th End Reservation
            th Handout
            th Takeback
            th
          - each booking in bookings
            tr
              td
                if (user.role === 'admin' || user.role === 'editor' || booking.user._id == user._id)
                  =booking.user.displayname
                else
                  | ***
              td
                =fmtDatetime(booking.start)
              td
                =fmtDatetime(booking.end)
              td
                if(booking.handoutuser)
                  =booking.handoutuser.displayname
                  br
                  span.small
                    =fmtDatetime(booking.handoutdate)
                else
                  | -
              td
                if(booking.closeuser)
                  =booking.closeuser.displayname
                  br
                  span.small
                    =fmtDatetime(booking.closedate)
                else
                  | -
              td.tools
                //- Show delete link only if status is open or user is admin
                if((booking.status == "open" && booking.user._id == user._id) || user.role == 'admin')
                  a(data-href="/bookings/" + booking._id + "/remove").cancel-booking.cancel

