extends ../layout

block content
  #layerBookGadget
  #blank
  .box
    .detailpage
      .basic
        a.button(href="/gadgets/")
          span back
        .bottom
          h2= gadget.brand
          h1= gadget.model
        .image
          if(gadget.image)
            img(src=gadget.image,style="width: 300px;")
          else   
            img(src='/img/dummy_device.gif',style="width: 300px;")
    .detailcontent
      .desc!= gadget.description
      a.booknow(onclick="openBookingLayer('/bookings/"+gadget._id+"/new')") book
      if(locals.user.role == 'admin')
        a.booknow(href="/gadgets/"+gadget._id+"/edit") edit
      .info
        b version
        br
        span= gadget.os
        br
        br
        b gadget ID
        br
        span= gadget.hwid
        br
        br
        b type
        br
        span= gadget.type
        br
    .clear
    br
    #layer
    table.detailbookings(style="width:100%")
      tr
        th name
        th start date
        th end date
        th handout date
        th handout user
        th

      - each booking in bookings
        tr
          td= booking.username
          td
            if(booking.start)
              span= booking.startdate
          td
            if(booking.end)
              span= booking.enddate
          td
            if(booking.handoutdate)
              span= booking.handoutdate
          td
            if(booking.handoutuser)
              span= booking.handoutuser
          if(locals.user.role == 'admin')
            td
              a(href="/bookings/remove/"+booking._id) cancel


