extends ../layout

block content
  h1= gadget.name
  if(gadget.image)
    img(src="../"+gadget.image,style="width: 100px;")
  else   
    img(src='/img/device.jpg',style="width: 100px;")
  br
  a(href="/gadgets/"+gadget._id+"/edit") edit gadget
  btr
  br
  #layer
  table(style="width:100%")
    - each booking in bookings
      tr
        td= booking.username
        td= booking.gadgetname
        td
          if(booking.start)
            span= booking.startdate
        td
          if(booking.end)
            span= booking.enddate
        td
          a(href="/bookings/remove/"+booking._id) cancel


