extends ../layout

block content

  div.modal.fade(id="modal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal") x
          h3 Delete gadget?
        div.modal-body
          p Deleting a gadget will also delete all related bookings. Are you sure?
        div.modal-footer
          a.btn.btn-attention(href="/gadgets/" + gadget._id + "/remove") Delete gadget

  #layerBookGadget
  #blank
  .box
    .detailpage
      .basic
        a.button(href="/gadgets/")
          span back
        .bottom
          h2= gadget.brand
          h1= gadget.model
        .image
          if(gadget.image)
            img(src=gadget.image,style="width: 300px;")
          else
            img(src='/img/dummy_device.gif',style="width: 300px;")
    .detailcontent
      .desc!= gadget.description
      a.booknow(onclick="openBookingLayer('/bookings/"+gadget._id+"/new')") Book

      if(user.role == 'admin')
        a.booknow(href="/gadgets/"+gadget._id+"/edit") Edit
        a.booknow.btn-attention.btn-confirm(data-toggle="modal" data-target="#modal") Delete

      .info
        b version
        br
        span= gadget.os
        br
        br
        b gadget ID
        br
        span= gadget.hwid
        br
        br
        b type
        br
        span= gadget.type
        br
    .clear
    br
    #layer
    table.detailbookings
      tr
        th name
        th start date
        th end date
        th handout date
        th handout user
        th
      - each booking in bookings
        tr
          td
            if(booking.user)
              =booking.user.email
          td
            =fmtDatetime(booking.start)
          td
            =fmtDatetime(booking.end)
          td
            =fmtDatetime(booking.handoutdate)
          td
            if(booking.handoutuser)
              =booking.handoutuser.email
          if(user.role == 'admin')
            td
              a(href="/bookings/remove/"+booking._id) remove


