extends ../layout

block content
  h1= gadget.name
  br
  a(href="/gadgets/"+gadget._id+"") back
  br
  form(action="/gadgets/"+gadget._id+"/edit",method="post")
    each value,key in gadget
      if(key!="_id"&&key!="description")
        span= key
        br
        input(type="text",name=key,value=value)
        br
      if(key=='description')
        span description
        br
        textarea(name=key,rows="4")= value
        br
    input(type="submit")

  if(gadget.image)
    img(src=gadget.image,style="width: 100px;")
  else   
    img(src='/img/device.jpg',style="width: 100px;")
  br

  form(action="/gadgets/"+gadget._id+"/upload",method="post",enctype="multipart/form-data")
    input(type="file",name="image")
    br
    input(type="submit")






