extends ../layout

block content

  .details
    .row
      .col-md-8
        br
        if (gadget && gadget._id)
          a(href="/gadgets/"+ gadget._id).btn back
        else
          a(href="/gadgets/").btn back

        h1= title
      .col-md-4.text-right
        br
        a(href="/gadgets/import").btn Import CSV

    br
    if (errors)
      .alert.alert-danger.alert-dismissible
        button.close(data-dismiss="alert") &times;
        strong Something went wrong
        br
        if (errors.name === 'MongoError')
          =errors.err
        else if (errors.name === 'ValidationError')
          - each error in errors.errors
            =error.message
            br
        else if (errors.name === 'CastError')
          =errors.message
          br
        else
          | Unkown Error occurred
      br

    form(action="/gadgets/" + gadget._id + "/save",
      method="post", enctype="multipart/form-data", role="form").row

      .col-md-8
        .form-group
          label HWID:
          input(type="text", name='hwid', value=gadget.hwid).form-control

        .form-group
          label Brand:
          input(type="text", name='brand', value=gadget.brand).form-control

        .form-group
          label Model:
          input(type="text", name='model', value=gadget.model).form-control

        .form-group
          label Description:
          textarea(name='description').form-control
            = gadget.description

        .form-group
          label OS:
          input(type="text", name='os', value=gadget.os).form-control

        .form-group
          label Type:
          select(name='type').form-control
            - each type in types
              option(selected=gadget.type == type)
                =type

        .form-group
          label Location:
          select(name='location').form-control
            - each location in locations
              option(selected=gadget.location == location)
                =location

        .form-group
          label Thumbnail:
          .thumbnail-row
            if(gadget.hasImage)
              img(src=gadget.imagePath)
            else
              img(src='/img/dummy_device.gif')

          br
          input(type="file", name="image", accept="image/*")
          p.help-block
            | Image will be resized to 210x210 Pixel

      .col-md-4.tools-box
        input(type="submit", value="Save").btn





