extends ../layout

block content
  #layerBookGadget
  #blank

  form(action='/gadgets/', method='get', id='search').clearfix
    input(type='text', name='q', placeholder='Search gadgets...' )

    input(type="submit", value="").btn.btn-search
    a.btn.btn-filter

    if(user.role == 'admin')
      a(href='/gadgets/new').btn.btn-add


  if(!gadgets)
    h1 no gadgets for your search
  else
    h1= gadgets.length + " gadgets"
    ul.elements
      - each gadget in gadgets
        li.element


          .element-front
            if(gadget.hasImage)
              img(src=gadget.imagePath)
            else
              img(src='/img/dummy_device.gif')

            if(stats[gadget._id] && stats[gadget._id].current)
              if(stats[gadget._id].current.status === 'handout')
                div.traffic_handout.smallline
              else
                div.traffic_reserved.smallline
            else
              div.traffic.smallline

            .details
              div.spec
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os


          .element-back
            if(stats[gadget._id] && stats[gadget._id].current)
              if(stats[gadget._id].current.status === "handout")
                div.traffic_handout
              else
                div.traffic_reserved
            else
              div.traffic

            div.details
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os

            div.lastBook
              if(stats[gadget._id] && stats[gadget._id].current)
                if(stats[gadget._id].current.status === 'handout')
                  |current
                else
                  |reserved
                br
                span.user=stats[gadget._id].current.username
                br
                br

              if(stats[gadget._id] && stats[gadget._id].last)
                span last booking
                br
                span.user=stats[gadget._id].last.username

            a(href="/gadgets/" + gadget._id).btn
              |Details
            a(data-url="/bookings/" + gadget._id + "/new").book-btn.btn
              |Book

  div.clear
