extends ../layout

block content
  br
  #layerBookGadget
  #blank
  #search
    form(name='search', action='/gadgets/', method='get', id='formSearch') 
      input(type='text', name='q',style="padding-left: 40px;" id='inputTextSearch', placeholder='SEARCH' )
      div.lupe 
        input(type="image",src='/img/search.gif')
      div.lupe
        input(type='image', name='submit', src='/img/filter.gif')
      if(locals.user.status=='admin')
        div.lupe
          a(href='/gadgets/new') 
            img(src='/img/add_btn.gif')
      .clear
  #phones
    h1 Smartphones
    ul.elements
      - each gadget in gadgets
        li.element(onmouseover="$(this).find('.hide').show();$(this).find('.cont').hide();",onmouseout="$(this).find('.hide').hide();$(this).find('.cont').show();")
          .hide.info 
            if(gadget.bookings&&gadget.bookings.current&&gadget.bookings.current.status == "handout")
              div.traffic_handout
            else if(gadget.bookings&&gadget.bookings.current)
              div.traffic_reserved
            else
              div.traffic
          .hide.info.grey
            .click
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os
            div.lastBook ich war es nicht
              br
              span.user Max Mustermann
            .buttons
              .detail
                a(href="/gadgets/"+gadget._id) Details
              .booking
                a(onclick="openBookingLayer('/bookings/"+gadget._id+"/new')") Book
          .cont
            a(href="/gadgets/"+gadget._id) 
              if(gadget.image)
                img(src="/"+gadget.image)
              else   
                img(src='/img/device.jpg')
            if(gadget.bookings&&gadget.bookings.current&&gadget.bookings.current.status == "handout")
              div.traffic_handout.smallline
            else if(gadget.bookings&&gadget.bookings.current)
              div.traffic_reserved.smallline
            else
              div.traffic.smallline
            a.click(onclick="openBookingLayer('/bookings/"+gadget._id+"/new')")
              div.spec
              
              div.brand= gadget.brand
              div.name= gadget.name
              span.isolator
              div.os= gadget.os
    div.clear    
