extends ../layout

block content

  div.modal.fade(id="modal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal")
          h3 Delete user?
        div.modal-body
          p Deleting a user will also delete related bookings. Are you sure?
        div.modal-footer
          a.btn.btn-danger(href='/users/' + euser._id + '/remove') Delete user

  .details.user-details
    .row
      .col-md-8
        br
        a.btn(href="/gadgets/") back
        h2= euser.displayname
        h1= euser.name

      .col-md-4
        if euser.avatarurl
          img(src=euser.avatarurl)

    br
    br

    .row
      form(action="/users/" + euser._id, method="post", role="form")
        .col-md-8
          .form-group
            label Email:
            input(value=euser.email, readonly="true").form-control

          .form-group
            label Name:
            input(value=euser.name, readonly="true").form-control

          .form-group
            label Role:
            select(name='role').form-control
              if(euser.role == 'admin')
                option(selected) admin
              else
                option admin
              if(euser.role == 'user')
                option(selected) user
              else
                option user

          //- .form-group
          //-   label Status:
          //-   select(name='active').form-control
          //-     option(selected= ( euser.active) ? "selected" : "") Active
          //-     option(selected= (!euser.active) ? "selected" : "") Deactive

        .col-md-4.tools-box
          input(type="submit", value="Speichern").btn
          a.btn.btn-danger(data-toggle="modal" data-target="#modal") Delete

    br
    br
    br
    h4 Bookings
    .table-responsive
      table.table
        tr
          th Device (ID)
          th Start reservation
          th End reservation
          th Status
          th
          th
        - each booking in bookings
          tr
            td= booking.gadgetname
            td= fmtDatetime(booking.start)
            td= fmtDatetime(booking.end)
            td= booking.status
            td.tools
              a(
                href="/bookings/" + booking._id + "/edit",
                data-toggle="modal",
                data-target="#bookingModal"
              ).edit
            td.tools
              a(href="/bookings/" + booking._id + '/remove').cancel
