extends ../layout

block content

  div.modal.fade(id="modal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal") x
          h3 Delete user?
        div.modal-body
          p Deleting a user will also delete related bookings. Are you sure?
        div.modal-footer
          a.btn.btn-attention(href='/users/' + euser._id + '/remove') Delete user

  #layerBookGadget
  #blank
  .box
    .detailpage
      .basic
        .right
          .userdetails
            h2= euser.displayname
            h1= euser.name
            form(action="/users/" + euser._id, method="post")

              p Role:
              select(name='role')
                if(euser.role == 'admin')
                  option(selected) admin
                else
                  option admin
                if(euser.role == 'user')
                  option(selected) user
                else
                  option user

                if (euser.active)
                  input(type='checkbox', name="active", checked="true")
                else
                  input(type='checkbox', name="active")

                p
                  input(type="submit", value="Speichern").btn
                  a.btn.btn-attention(data-toggle="modal" data-target="#modal") Delete

        .image
          if euser.avatarurl
            img(src=euser.avatarurl, style="width:100px; ")
        .clear
    .top
      table.detailbookingsUser
        tr
          th.dev Device
          th.start Start
          th.end End
          th
          th
          th
        - each booking in bookings
          tr
            td= booking.gadgetname
            td
              if(booking.start)
                span= fmtDatetime(booking.startdate)
            td
              if(booking.end)
                span= fmtDatetime(booking.enddate)
            td
              if(!booking.status)
                a(href="/bookings/"+booking._id+"/handout").handout
              if(booking.status=='handout')
                a(href="/bookings/"+booking._id+"/takeback").takeback
              if(booking.status=='closed')
                span closed
            td
              a(onclick="openBookingLayer('/bookings/" + booking._id + "')").edit
            td
              a(href="/bookings/" + booking._id + '/remove').cancel
