extends ../layout

block content

  div.modal.fade(id="modal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button", class="close", data-dismiss="modal") &times;
          h3 Delete user?
        div.modal-body
          p Deleting a user will also delete related bookings. Are you sure?
        div.modal-footer
          a.btn.btn-danger(href='/users/' + euser._id + '/remove') Delete user

  .details.user-details
    .row
      .col-md-8
        br
        a.btn(href="/users/") back
        h2= euser.displayname
        h1= euser.name

      .col-md-4
        if euser.avatarurl
          img(src=euser.avatarurl)

    br
    br

    .row
      form(action="/users/" + euser._id, method="post", role="form")
        .col-md-8

          .form-group
            label Displayname:
            input(value=euser.displayname, readonly="true").form-control

          .form-group
            label Email:
            input(value=euser.email, readonly="true").form-control

          .form-group
            label OAuth provider:
            input(value=euser.type, readonly="true").form-control

          .form-group
            label Name:
            input(value=euser.name, readonly="true").form-control

          .form-group
            label Role:
            select(name='role').form-control
              - each role in roles
                option(selected=euser.role == role)
                  =role

        .col-md-4.tools-box
          input(type="submit", value="Save").btn
          a.btn.btn-danger(data-toggle="modal" data-target="#modal") Delete

    br
    br
    br
    h4 Bookings
    .table-responsive
      table
        tr
          th Name
          th Device (ID)
          th Start Reservation
          th End Reservation
          th Handout
          th Takeback
          th
          th
          th
        - each booking in bookings
          include ../bookings/list-entry.jade

